*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  
  
}

body{
  background-color: #000000 !important;
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Outfit', sans-serif;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.head{
  color: #0d6efd;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.coin-search {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-input {
  color: white !important;
  border: none !important;
  border-radius:15px !important;
  background-color: rgb(36, 61, 61) !important;
}

.coin-input::placeholder {
  color: rgb(158, 158, 158) !important;
  margin-left: 10px;
}


@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 495px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}