.card {
  background-color: #212529;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all ease 0.25s;
}

.card:hover {
  transform: translateY(-10px);
}

.coin-col{
  align-self: center;
  
}
.coin-title {
  color: #ffffff;
  font-size: 16px;
}
.coin-symbol {
  color: #b9b9b9e3;
  font-size: 16px;
  
}

.coin-image {
  margin: 10px;
}

.coin-price {
 margin-top: 10px;
 margin-left: 20px;
 font-size: large;
}
.coin-percent {
  margin-left: 20px;
 }
.white{
  color: #ffffff;
}
.coin-body{
  display: flex;
}
.coin-market{
  width: 250px;
  margin-bottom: 35px;
  border-radius: 15px !important;
  background-color: #3f3f3f !important;
}
.coin-volume{
  width: 250px;
  margin-bottom: 10px;
  border-radius: 15px !important;
  background-color: #3f3f3f !important;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}